<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset2.css">
    <link rel="stylesheet" href="São José 2.css">

    <title>Jogadores</title>

</head>


<body>


<a class = "fonte">Jogador bet</a>


<a class="voltar" th:href="@{/Cadastrar}">Cadastre seu jogador aqui</a>

</body>
</html>